In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

- In machine learning algorithms will develop models by using maths

 - maths allows only numbers
    
- so it is very important , you need to pass numerical data only

- so we need to convert categorical data to numerical data

- For that we have encoding methods

- Encoding

  - Label Encoder
    
     - map method
     - np.where()
     - LabelEncoder package from sklearn
        
  - One hot encoder

     - pd.get_dummies()

## Label Encoder

#### Map Method

- read any categorical column: case_status
- check how many unique labels are there
- create a dictionary with those unique labels as keys by providing a number as values

In [20]:
#### Read the data##########################################
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df

##############################Map#############################

visa_df['case_status'].unique()   # two unique labels are there
dict1={'Certified':0,'Denied':1}
visa_df['case_status'].map(dict1)

# do you want overrite existed column
# do you want create a new column

0        1
1        0
2        1
3        1
4        0
        ..
25475    0
25476    0
25477    0
25478    0
25479    0
Name: case_status, Length: 25480, dtype: int64

### Create a new column

In [21]:
#### Read the data##########################################
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df

##############################Map#############################

visa_df['case_status'].unique()   # two unique labels are there
dict1={'Certified':0,'Denied':1}
visa_df['case_status_num']=visa_df['case_status'].map(dict1)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,case_status_num
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,1
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,1
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,1
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,0
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,0
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,0

### Drop the column

In [22]:
visa_df.drop('case_status_num',axis=1,inplace=True)

In [23]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

## overwrite on same column(preferable)

In [24]:
#### Read the data##########################################
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df

##############################Map#############################

visa_df['case_status'].unique()   # two unique labels are there
dict1={'Certified':0,'Denied':1}
visa_df['case_status']=visa_df['case_status'].map(dict1)

visa_df
# in the map method inplace=True is not there

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,1
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,0
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,1
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,1
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,0
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,0
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,0
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,0
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,0

In [25]:
l1=visa_df['continent'].unique()
l1

array(['Asia', 'Africa', 'North America', 'Europe', 'South America',
       'Oceania'], dtype=object)

In [26]:
visa_df['continent'].unique()

array(['Asia', 'Africa', 'North America', 'Europe', 'South America',
       'Oceania'], dtype=object)

In [27]:
l1=visa_df['continent'].unique()
dict1={}
for i in range(len(l1)):
    dict1[l1[i]]=i
dict1

{'Asia': 0,
 'Africa': 1,
 'North America': 2,
 'Europe': 3,
 'South America': 4,
 'Oceania': 5}

In [28]:
num=visa_df['continent'].unique()
dict1={}
for i in range(len(num)):
    print(num[i],i)

Asia 0
Africa 1
North America 2
Europe 3
South America 4
Oceania 5

In [29]:
labels=visa_df['continent'].unique()
num=len(visa_df['continent'].unique())
dict1={}
for i in range(num):
    dict1[labels[i]]=i
    
dict1

labels=visa_df['continent'].unique()
num=len(visa_df['continent'].unique())

{labels[i]:i for i in range(num)}

{'Asia': 0,
 'Africa': 1,
 'North America': 2,
 'Europe': 3,
 'South America': 4,
 'Oceania': 5}

### Method:-2: np.where()

In [30]:
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

- np.where() is applicable for binary condition
- which means it is applicable only for two labels
- np.where(<condition>,<Truevalue>,<False_value>)
- for example case_status has two labels
- condition:  <col_values>=='certified'
- True value: Replace all certified values with 0
- False value: Replace all certified values with 1

In [31]:
visa_df['case_status']=np.where((visa_df['case_status']=='Certified'),0,1)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,1
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,0
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,1
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,1
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,0
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,0
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,0
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,0
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,0

In [32]:
con=visa_df['case_status']=='Certified'
visa_df['case_id']=np.where(con,1,0)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,0,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,1
1,0,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,0
2,0,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,1
3,0,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,1
4,0,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,0,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,0
25476,0,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,0
25477,0,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,0
25478,0,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,0
25479,0,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,0

### labels-encoder()

- LabelEncoder is a method from sklearn
- under sklearn we have sub models
- one of the submodule: preprocessing
- Any sklearn packages we have only 3 steps

- step:-1: read the packages
- step:-2: save the packages
- step:-3: apply fit transform

In [33]:
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df

# step:-1
from sklearn.preprocessing import LabelEncoder
# step:-2
le=LabelEncoder()
# step:-3
visa_df['case_status']=le.fit_transform(visa_df['case_status'])
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,1
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,0
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,1
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,1
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,0
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,0
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,0
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,0
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,0

In [34]:
$fit--Transform:
    - fit and transform two different definations
age: 1 2 3 4 5

nwe age: by adding each observation with mean value : x+mean

SyntaxError: invalid syntax (2574268201.py, line 1)

In [35]:
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
print(visa_df[['continent','case_status']].head(10))

# step:-1
from sklearn.preprocessing import LabelEncoder
# step:-2
le=LabelEncoder()
# step:-3
visa_df['continent']=le.fit_transform(visa_df['continent'])
print(visa_df[['continent','case_status']].head(10))

       continent case_status
0           Asia      Denied
1           Asia   Certified
2           Asia      Denied
3           Asia      Denied
4         Africa   Certified
5           Asia   Certified
6           Asia   Certified
7  North America      Denied
8           Asia   Certified
9         Europe   Certified
   continent case_status
0          1      Denied
1          1   Certified
2          1      Denied
3          1      Denied
4          0   Certified
5          1   Certified
6          1   Certified
7          3      Denied
8          1   Certified
9          2   Certified

In [36]:
print(visa_df['continent'][:5])
le.inverse_transform(visa_df['continent'])

0    1
1    1
2    1
3    1
4    0
Name: continent, dtype: int32

array(['Asia', 'Asia', 'Asia', ..., 'Asia', 'Asia', 'Asia'], dtype=object)

In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

### one hot encoder

- one hot encoder means at a time only one will be ON(1/True), others are OFF(0/False)
- suppose case status has two unique labels
- certified and denied 
- like below
- In one hot encoder it will create two new column
- like below
|case_status|certified|denied|
|-----------|---------|------|
|certified|1|0|
|denied|0|1|

**Advantages**

- one hot encoder new column are orthogonal to each other

- orthogonality means 90 degrees phase shift

- 90 degrees phase shift means perpendicular each other

- perpendicular means independent each other 

- Independent means no relation 

- It is very important properties that it is to avoid relation between variables

**Draw Back**

- Assume that you have 100 unique labels for a column

- so it will create 100 new columms

- To process 100 columns we require more memory,more time,more hardware

- This is called curse of Dimensionality

**pd.get_dummies**

In [39]:
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df

pd.get_dummies(visa_df,columns=['case_status'])

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status_Certified,case_status_Denied
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,False,True
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,True,False
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,False,True
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,False,True
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,True,False
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,True,False
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,True,False
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,True,False
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,True,False

In [40]:
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df

pd.get_dummies(visa_df,columns=['continent'])

,case_id,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,continent_Africa,continent_Asia,continent_Europe,continent_North America,continent_Oceania,continent_South America
0,EZYV01,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,False,True,False,False,False,False
1,EZYV02,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,False,True,False,False,False,False
2,EZYV03,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,False,True,False,False,False,False
3,EZYV04,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,False,True,False,False,False,False
4,EZYV05,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,False,True,False,False,False,False
25476,EZYV25477,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,False,True,False,False,False,False
25477,EZYV25478,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,False,True,False,False,False,False
25478,EZYV25479,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,False,True,False,False,False,False
25479,EZYV25480,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,False,True,False,False,False,False

In [41]:
file_path="C:\\Users\\hp\\Downloads\\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df

pd.get_dummies(visa_df,columns=['continent'],dtype='int')

,case_id,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,continent_Africa,continent_Asia,continent_Europe,continent_North America,continent_Oceania,continent_South America
0,EZYV01,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,0,1,0,0,0,0
1,EZYV02,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0,1,0,0,0,0
2,EZYV03,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0,1,0,0,0,0
3,EZYV04,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0,1,0,0,0,0
4,EZYV05,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0,1,0,0,0,0
25476,EZYV25477,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,0,1,0,0,0,0
25477,EZYV25478,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,0,1,0,0,0,0
25478,EZYV25479,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0,1,0,0,0,0
25479,EZYV25480,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,0,1,0,0,0,0